
<h1>Recipes of the world</h1>
<div class="button">
    <%= link_to "Give us a new recipe", new_recipe_path %>
</div>

<% @recipe.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= button_to "Delete recipe", @recipe, link_to: recipes_path(@recipe), method: :delete, data: { confirm: "Are you sure?" } %>


<%#= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill %>

<div class="map-wrapper">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
